<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
</head>
    <body>
        <h2>ログイン画面</h2>

        <form action="/login" th:action="@{/login}"  th:object="${authInfo}" method="post">
            <div>
                <span>email</span>
                <input type ="email" th:field="*{email}">
            </div>
            <div>
                <span>pasword</span>
                <input type="password" th:field="*{pass}">
            </div>
            <input type="submit" value="login">
        </form>

    </body>
</html>