<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>email</th>
                    <th>password</th>
                    <th>name</th>
                    <th>roleType</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userlist}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.roleType}"></td>
                </tr>
            </tbody>
        </table>

            <select class="form-control"  th:object="${userlist}">
                <option th:each="user : ${userlist}" th:value="${user.email}" th:text="${user.email}"/>
            </select>


        <form th:action="@{/admin/top}" method="get">
            <input type="submit" value="admintop">aaa
        </form>

        <form th:action="@{/user/logout}" method="post">
            <button class="logout-button">
                ログアウトああ
            </button>
        </form>


    </body>
</html>